<div id="slide1" class=slide>
    <div id=line1>So remember when we first met? It seems ages ago now.</div>
    <img class=profile src=resources/images/matprof.jpg />
    <img class=profile src=resources/images/alayprof.jpg />
</div>

<div id="slide2" class=slide>
	<div id="textcontainter">
		<span id=s2t>You thought I was a total ass (and rightfully so.)<br/>
		But I got lucky when you gave me a second chance,<br/>
		By letting me take you for some 5 star cuisine.</span>
	</div>
	<img id="tacobell" src=resources/images/tacobell.jpg />
</div>

<div id="slide3" class=slide>
	<div id=line1>Then we went to Columbus, to visit the "Rape Fest."</div>
	<img src=resources/images/columbus.jpg class=tImage />
</div>

<div id="slide4" class=slide>
	<img src=resources/images/columbus2.jpg class=sImage />
</div>

<div id="slide5" class=slide>
	<img src=resources/images/columbus3.jpg class=sImage />
</div>

<div id="slide6" class=slide>
	<div id=line1>Since then we've had some good times</div>
	<img src=resources/images/gun_2.jpg class=profile />
	<img src=resources/images/gun_1.jpg class=profile />
</div>

<div id=slide7 class=slide>
	<div id=line1>Some great times.</div>
	<img src=resources/images/good.jpg class=tImage />
</div>

<div id=slide8 class=slide>
	<div id=line1>Some less than great times.</div>
	<img src=resources/images/bad.jpg class=tImage />
</div>

<div id=slide9 class=slide>
	<div id=line1>We went to Detroit and survived.</div>
	<img src=resources/images/detroit.jpg class=tImage />
</div>

<div id=slide10 class=slide>
	<img src=resources/images/detroit2.jpg class=sImage />
</div>

<div id=slide11 class=slide>
	<img src=resources/images/detroit3.jpg class=sImage />
</div>

<div id=slide12 class=slide>
	<div id=line1>You're photography has had it's ups.</div>
	<img src=resources/images/photo.jpg class=tImage />
</div>

<div id=slide13 class=slide>
	<div id=line1>And it's downs.</div>
	<img src=resources/images/photo2.jpg class=tImage />
</div>

<div id=slide14 class=slide>
	<div id=line1>You've tried almost</div>
	<img src=resources/images/hair.jpg class=tImage />
</div>

<div id=slide15 class=slide>
	<div id=line1>Every single,</div>
	<img src=resources/images/hair2.jpg class=tImage />
</div>

<div id=slide16 class=slide>
	<div id=line1>Hairstyle possible.</div>
	<img src=resources/images/hair3.jpg class=tImage />
</div>

<div id=slide17 class=slide>
	<div id=line1>And managed to look good in all of them.</div>
	<img src=resources/images/hair4.jpg class=tImage />
</div>

<div id=slide18 class=slide>
	<div class=textbox>But the most important event has happened more recently. It's more a realization that I've had than anything. I've come to the conclusion that....</div>
</div>

<div id=slide19 class=slide>
	<div id=line1>You're my penguin.</div>
	<img src=resources/images/couple2.jpg class=profile />
	<img src=resources/images/penguin.jpg class=profile />
</div>

<div id=slide20 class=slide>
	<div class=textbox>So I guess what I'm trying to say in my own geeky way is,</div>
</div>













