body,html {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    overflow:hidden;
}

#container {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}

/* Animated Blocks CSS */

#cls {
    vertical-align:middle;
    text-align:center;
    height:0px;
    width:99%;
    display:block;
    color:white;
    background:purple;
    margin-bottom:10px;
    margin-top:10%;
}

#large {
	font-size:5em;
	font-family:"Sans Serif";
}

.block {
    display:block;
    margin-bottom:10px;
    margin-right:10px;
    height:100px;
    width:0;
    max-width:100%;
    color:white;
    /*position:relative;*/
    text-align:center;
}

#welcome {
	background:red;
}

#cls_slide {
	background:green;
}

#anus {
	background:blue;
}

#content {
	background:#37FDFC;
}

.text {
    /*position:absolute;
    top:25%;
    left:38%;*/
    font-family:"Sans Serif";
    font-size:3em;
}

/* Ring */

#end {
	height:16em;
	width:16em;
	position:absolute;
	top:25%;
	left:38%;
	border:solid;
	border-color:yellow;
	border-width:2em;
	border-radius:10em;
}

#endtext {
	height:3em;
	width:10em;
	position:absolute;
	top:65%;
	left:39%;
	color:black;
	font-size:2em;
}

#diamond {
	height:5em;
	width:7em;
	position:absolute;
	top:16%;
	left:45%;
}

/* Start picture */

#start {
	height:20em;
	width:20em;
	position:absolute;
	top:25%;
	left:38%;
	border-radius:10em;
}

#starttext {
	height:3em;
	width:12em;
	position:absolute;
	top:65%;
	left:39%;
	color:black;
	font-size:2em;
}

/* Content CSS */

#content_container {
	height:100%;
	width:100%;
	position:relative;
	margin:0;
	padding:0;
}

#content_holder {
	height:100%;
	width:100%;
	color:black;
}
/* Slides */

.slide {
	height:100%;
	width:100%;
	padding-top:1%;
}

/* Slide Text */

#line1 {
	font-family:"Sans Serif";
	font-size:3em;
	height:5%;
	margin-top:0;
}

#s2t {
	font-family:"Sans Serif";
	font-size:2em;
}

#textcontainer {
	margin-top:5%;
	height:15%;
	width:100%;
}

.textbox {
	margin-top:20%;
	font-family:"Sans Serif";
	font-size:3em;
}

/* Slide Images */

.profile {
	height:95%;
	margin-top:4%;
	width:50%;
	float:left;
}

#tacobell {
	margin-top:5%;
	height:70%;
	width:70%;
}

.tImage {
	max-height:95%;
	margin-top:4%;
	max-width:100%;
}

.sImage {
	max-height:100%;
	max-width:100%;
	margin:auto;
}
